.debugger {
    position: fixed;
    top: 1px;
    left: 1px;
    z-index: 1000000;
    width: 80px;
    border-radius: 5px;
    background-color: lightskyblue;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    line-height: 21px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    opacity: 0.8;
}

.debugger a {
    display: block;
    color: red;
    text-decoration: none;
}

.table a {
    cursor: pointer;
}

body {
    overflow-y: scroll;
}