/.idea
*.bak
*.log
/*.phar
/tests/Image/Result
/tests/Image/Adapter

/vendor/
/runtime/
/public/test.php
/tests/FileSystem
/manaphp_lite.tmp
/tests/Image/Engine
/ManaPHP/.idea
/apps/user/app/Controllers/TestController.php
/apps/admin/app/Controllers/TestController.php
/apps/admin/app/Cli/Commands/TestCommand.php
/apps/api/app/Controllers/TimeController.php
/apps/cli/app/Commands/TestCommand.php
/build/.subsplit/
