.theme-default-content code{
    color: red
}

a.sidebar-link, .sidebar-heading{
    padding: 0.35rem 1.5rem 0.0rem 1.25rem
}

p.sidebar-heading{
    line-height: 0.3;
}

.sidebar-heading{
    font-size: 1em !important;
    font-weight: normal !important;
}

.sidebar-group-items{
    font-size: 0.2em;
    }

a.sidebar-link{
    padding: 0.1rem 1.5rem 0.0rem 2.25rem !important
}    