AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
    SetEnv MANAPHP_REWRITE_ON ON
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !(.css|.js|.gif|.png|.jpg|.jpeg|.ttf|.woff)$
    RewriteRule ^(.*)$ index.php?_url=/$1 [QSA,L]
</IfModule>