[mysqld]
skip-host-cache
skip-name-resolve

log_error = /var/log/mysql/error.log

slow_query_log=on
long_query_time = 2
slow_query_log_file = /var/log/mysql/slow.log

tmpdir = /tmp/mysql

default-time-zone= "+8:00"

character_set_server=utf8
collation_server=utf8_general_ci

max_connections=1024

