on :
  push :
    branches :
      - master
jobs :
  split :
    runs-on : ubuntu-latest
    steps :
      - uses : actions/checkout@v3
        with:
          fetch-depth: 0
      - uses : webfactory/ssh-agent@v0.5.4
        with :
          ssh-private-key : ${{ secrets.ACTIONS_SSH_PRIVATE_KEY }}
      - run : bash ./build/split.sh